{% extends "base.html" %}
{% block pageCSS %}
{% endblock %}
{% block contents %}
<div class="jumbotron jumbotron-fluid web-header">
    <div class="container" >
        <a class="btn btn-lg sign-in-btn" role="button" href="{{url_for('app.login')}}" style="margin-left: auto; margin-right: auto;">Sign In</a>
    </div>
  </div>
  <div class="container mb-5 mt-5">
    <div class="row">
      <div class="col-lg-4">
        <h2 class="col-header">Make Friends</h2>
        <p class="lead">
            Cultivate friends
        </p>
        <img class="front-icon" src="{{ url_for('static', filename='img/friends.png') }}" alt="">
      </div>
      <div class="col-lg-4 front-center-col">
        <h2 class="col-header">Innovative</h2>
        <p class="lead">
            Cultivate the future with you new friends and skills.
        </p>
        <img class="front-icon" src="{{ url_for('static', filename='img/innovative.png') }}" alt="">

      </div>
      <div class="col-lg-4">
        <h2 class="col-header">Gain New Skills</h2>
        <p class="lead">
            Cultivate your mind with the best instructors
        </p>
        <img class="front-icon" src="{{ url_for('static', filename='img/skills.png') }}" alt="">


      </div>
    </div>
  </div>
  <hr class="featurette-divider">
</body>

<footer class="page-footer">
    <p>&copy; Joseph Cottingham · <a href="https://github.com/JosephCottingham">Github</a> · <a href="https://www.linkedin.com/in/joseph-cottingham/">LinkedIn</a></p>
        <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  </footer>
{% endblock %}
