{% extends "base.html" %}
{% block pageCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/textchannel.css') }}">
    {% block webAppPageCSS %}
        
    {% endblock %}
{% endblock %}
{% block contents %}
<div class="row" data-sticky-container="">
    <div class="col- communities-col app">
        <div class="server-list">
            <a href="{{ url_for('app.home') }}">
            <div class="server--icon">
                <span><img src="/assets/icons/home-icon.svg" alt="Kiwi standing on oval"></span>
            </div>
        </a>
            <div class="server--seperator"></div>
            <div class="server--icon active">
                <span><img src="/assets/icons/setting-icon.svg" alt="Kiwi standing on oval"></span>
            </div>
            <a href="{{ url_for('app.browse') }}">
            <div class="server--icon">
                <span><img src="/assets/icons/explore-icon.svg" alt="Kiwi standing on oval"></span>
            </div>
            </a>
            {% for community in current_user.communities %}
            <div class="server--icon">
                <span>community.name</span>
            </div>
            {% endfor %}
        </div>
    </div>
    {% block webAppPageContent %}
    {% endblock %}

</div>
{% endblock %}
{% block pageJS %}
    {% block webAppPageJS %}
        
    {% endblock %}
{% endblock %}
